@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --swiper-pagination-color: #FFF;
  --swiper-navigation-color: #FFF;
}

.swiper-slide {
  height: auto !important;
  width: 100%;
  object-fit: cover !important;
  object-position: center;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  :root {

    --gradient-green: #6FE2B2;
    --gradient-yellow: #DBF378;
    --gradient-orange: #FBAE67;
    --gradient-red: #FF7C7C;
    --nav-bg: #6FD7A6;
    --nav-button-green: #4D8656;
    --nav-button-pink: #F29696;
    --nav-button-yellow: #FFD569;

    --banner-red: #EC5D5D;
    --footer-blue: #148985;
    --button-green: #54CE83;
    --link-green: #107700;

    --text-red-01: #F68484;
    --text-red-02: #FF807E;
    --text-red-03:#EC5D5D;

    --hearts-pink: #FFCBCB;
    --paw-pink: #F78F8F;

    --hero-shadow-01: #FFD748;
    --hero-shadow-02: #F2E573;
    --hero-shadow-03: #77D686;

    --doggies-shadow-01: #9AF979;
    --doggies-shadow-02: #80D064;
    --doggies-shadow-03: #57A475;

    --primary-blue: #A7CDE0;
    --primary-yellow: #DDEDAA;
    --primary-green: #148985;
    --primary-red: #BD4F6C;

    --input-yellow: #DDEDAA;
    --input-yellow-50: #DDEDAA80;
  }
}

@layer base {
  * {

  }
  body {

  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 100%;
  height: 100%;
  padding: 0;
  overflow-anchor: auto;
}

code {

}

@layer utilities {
  * {
    --tw-clip-glitch-01: polygon(0 0, 100% 0, 100% 45%);
    --tw-clip-glitch-02: polygon(100% 0, 100% 75%);
  }

}
